## **TESTE Z PARA UMA AMOSTRA**

In [4]:
import numpy as np
import pandas as pd

In [5]:
enem_sp = pd.read_csv("C:\\Users\\amand\\Downloads\\enem_2019_tratado.csv",
                      sep=',', encoding='iso-8859-1')

In [6]:
enem_sp.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
0,"1,90E+11",Santa Isabel,22,M,1,parda,1,1,não_respondeu,NaN,...,600.2,Inglês,1.0,160.0,200.0,180.0,200.0,200.0,940.0,Sim
1,"1,90E+11",São Paulo,17,F,1,parda,1,2,privada,15567761.0,...,731.8,Inglês,1.0,160.0,120.0,200.0,200.0,200.0,880.0,Não
2,"1,90E+11",São Bernardo do Campo,19,M,1,parda,1,2,pública,35904958.0,...,393.2,Espanhol,1.0,80.0,160.0,120.0,100.0,100.0,560.0,Sim
3,"1,90E+11",Embu-Guaçu,17,F,1,parda,1,2,pública,NaN,...,419.2,Inglês,1.0,120.0,120.0,120.0,120.0,80.0,560.0,Sim
4,"1,90E+11",Guarulhos,23,F,1,branca,1,1,não_respondeu,NaN,...,796.1,Inglês,1.0,160.0,200.0,180.0,180.0,160.0,880.0,Sim

In [ ]:
colegiox = enem_sp.loc[enem_sp.CO_ESCOLA == 35017632.0]

In [ ]:
colegiox.shape

In [ ]:
colegiox.head()

1) Analisar a classificação das variáveis

In [ ]:
colegiox.dtypes

2) Analisar valores missing

In [ ]:
colegiox.isnull().sum()

3) Analisar outliers

In [ ]:
import plotly.express as px

In [ ]:
grafico = px.box(colegiox, y="NOTA_REDACAO")
grafico.show()

4) Analisar Normalidade

In [ ]:
import seaborn as sns
sns.histplot(colegiox, x='NOTA_REDACAO', bins=10, color="orange", kde=True, stat="probability");

In [ ]:
import scipy.stats as stats
import matplotlib.pyplot as plt

In [ ]:
stats.probplot(colegiox['NOTA_REDACAO'], dist="norm", plot=plt)
plt.title("Normal Q-Q plot")
plt.show()

CRITÉRIOS:

NÍVEL DE SIGNIFICÂNCIA DE 0,05 ou 5% (MAIS UTILIZADO)

QUANDO p > 0,05 (distribuição normal).

In [ ]:
# Teste Shapiro-Wilk
stats.shapiro(colegiox.NOTA_REDACAO)

In [ ]:
import statsmodels
from statsmodels.stats.diagnostic import lilliefors

In [ ]:
# Teste Lilliefors (Kolmogorov_Sminorv)
statsmodels.stats.diagnostic.lilliefors(colegiox.NOTA_REDACAO, dist = 'norm')

In [ ]:
# Teste Anderson-Darling
stats.anderson(colegiox.NOTA_REDACAO, 'norm')

**TESTE Z**

Média das notas do colégio X, comparada a média do Estado de São Paulo.

Ho = média é igual a de São Paulo : p > 0.05

Ha = média é diferente da de São Paulo : p <= 0.05

In [ ]:
from statsmodels.stats.weightstats import ztest

In [ ]:
enem_sp.NOTA_REDACAO.describe()

In [ ]:
stat, p = ztest(colegiox['NOTA_REDACAO'], value=593.0183221986639, )
print('Estatística de teste: {}'.format(stat.round(2)))
print('p-valor: {}'.format(p))

In [ ]:
colegiox.NOTA_REDACAO.describe()

**INTERPRETAÇÃO:**

Teste estatístico: z = -3,93

p_valor = 6.76e-05

Conclusão: Estatisticamente, a média do colégio x é diferente da média do Estado de São Paulo, com intervalo de confiança de 95%.